*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  background-color: #A7E1FF;
  width: 1920px;
  height: 1025px;
}

.map{
  position: relative;
  padding-top: 180px;
  padding-left: 380px;
  z-index: 100;
}

.pets__to_zoo{
  position: absolute;
}

.pet1>img, .pet2>img, .pet3>img, .pet4>img{
  border: 2px solid white;
  border-radius: 32px;
}

.pet1>img:hover, .pet2>img:hover, .pet3>img:hover, .pet4>img:hover{
  border: 3px solid greenyellow;
  cursor: pointer;
  border-radius: 32px;
} 

.pet1, .pet2, .pet3, .pet4{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;  
}

.pet1{
  margin-top: -357px;
  margin-left: 25px;
  z-index: 1000;
}

.pet2{
  margin-top: 40px;
  margin-left: 656px;
  z-index: 1000;
}

.pet3{
  margin-top: -165px;
  margin-left: 920px;
  z-index: 1000;
}

.pet4{
  margin-top: -70px;
  margin-left: 299px;
  z-index: 1000;
}

.country__name1, .country__name2, .country__name3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 61px;
  height: 42px;
  text-align: center;
}

.country__name1{
  margin-left: 510px;
  margin-top: 50px;
}

.country__name2{
  margin-top: -205px;
  margin-left: 190px;
}

.country__name3{
  margin-top: -50px;
  margin-left: 825px;
}

@media only screen and (max-width : 1200px) {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
  background-color: #A7E1FF;
  width: 1200px;
  height: 1025px;
}

.map{
  position: relative;
  padding-top: 180px;
  padding-left: 20px;
  z-index: 100;
}

.pet1{
  margin-top: -357px;
  margin-left: 25px;
  z-index: 1000;
}

.pet2{
  margin-top: 40px;
  margin-left: 656px;
  z-index: 1000;
}

.pet3{
  margin-top: -165px;
  margin-left: 920px;
  z-index: 1000;
}

.pet4{
  margin-top: -70px;
  margin-left: 299px;
  z-index: 1000;
}

.country__name1{
  margin-left: 510px;
  margin-top: 50px;
}

.country__name2{
  margin-top: -185px;
  margin-left: 190px;
}

.country__name3{
  margin-top: -30px;
  margin-left: 825px;
}

}

@media only screen and (max-width : 640px) {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
  background-color: #A7E1FF;
  width: 640px;
  height: 880px;
  overflow: hidden;
}

.map>img{
  width: 933px;
  height: 600px;
  margin-left: 50px;
}

.map{
  position: relative;
  padding-top: 180px;
  padding-left: 50px;
  margin-left: -250px;
  z-index: 100;
}

.pet1{
  margin-top: -357px;
  margin-left: 25px;
  z-index: 1000;
}

.pet2{
  margin-top: 75px;
  margin-left: 579px;
  z-index: 1000;
}

.pet3{
  margin-top: -153px;
  margin-left: 794px;
  z-index: 1000;
}

.pet4{
  margin-top: -65px;
  margin-left: 299px;
  z-index: 1000;
}

.country__name1{
  margin-left: 450px;
  margin-top: 50px;
}

.country__name2{
  margin-top: -170px;
  margin-left: 197px;
}

.country__name3{
  margin-top: -23px;
  margin-left: 707px;
}

.map.map_zoom{
  background-image: url("assets/icons/zoom.png");
  position: fixed;
  background-repeat: no-repeat;
  margin-top: 695px;
  margin-left: 578px;
  z-index: 500;
}

}